@model MessageViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (Model.Message != null)
    {
        <p>@Model.Message</p>
    }
</div>

<script type="text/javascript">
    setTimeout(function(){
        location.reload();
    }, 3000); // 3 saniye (3000 milisaniye) sonra yeniden yükleme
</script>

